<jsv-header>
	<button-header-left></button-header-left>
       Eventos
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content class="inicio">
   
            <!-- PAGE CONTENT FIM -->
            <div class="page-content">
                 
                  <!-- HEADER -->
                  <header>
                    <div class="container">
                      
                      <div class="row">
                        
                        <div class="col-3 coluna-um">
                           <a href="javascript:void(0)" title="Voltar para a página de login" onclick="voltarAoInicio();">
                             <i class="fa fa-angle-left"></i>
                           </a>
                        </div>

                        <div class="col-6 coluna-dois">
                          <a href="javascript:void(0)" title="Orra Meu - Sua praia na Mooca" style="line-height: 18px;display: block;padding-top: 2px;">
                            Eventos
                          </a>
                        </div>

                        <div class="col-3 coluna-tres" onclick="notificacoes()">
                           <div class="profile-picture" style="background: url('images/profile-picture.png') #f4f4f4 no-repeat;background-size: cover;background-position: center center;">
                              &nbsp;
                           </div>
                           <span class="numeroNotificacoes">2</span>
                        </div>

                      </div>

                    </div>
                  </header>
                  <!-- HEADER -->


                  <!-- CONTEÚDO -->
                  <div class="corpo-comum">
                    <div class="container conteudo areas-login-cadastro area-contrato area-eventos">                                               
                                                             

                                 <!-- OWL AULAS REGULARES SEMANA -->
                                 <div id="eventosGerais" class="owl-carousel">

                                       <!-- COLUNA / MÊS -->
                                       <div class="item">
                                           <h3>DEZEMBRO/ 2019</h3>
                                           
                                           <div class="row">

                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Pagode</span><br clear="both">02/10
                                                       </a>
                                                    </div>
                                               </div>
                                               <!-- COLUNA -->
                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Lual</span><br clear="both">03/10
                                                       </a>
                                                   </div>
                                               </div>
                                               <!-- COLUNA -->
                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Aulão Funcional</span><br clear="both">09/10
                                                       </a>
                                                    </div>
                                               </div>
                                               <!-- COLUNA -->



                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Pagode</span><br clear="both">10/10
                                                       </a>
                                                   </div>
                                               </div>
                                               <!-- COLUNA -->
                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Lual</span><br clear="both">13/10
                                                       </a>
                                                   </div>
                                               </div>
                                               <!-- COLUNA -->
                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Aulão Funcional</span><br clear="both">16/10
                                                       </a>
                                                   </div>
                                               </div>
                                               <!-- COLUNA -->


                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Pagode</span><br clear="both">17/10
                                                       </a>
                                                   </div>
                                               </div>
                                               <!-- COLUNA -->
                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Lual</span><br clear="both">23/10
                                                       </a>
                                                   </div>
                                               </div>
                                               <!-- COLUNA -->
                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Aulão Funcional</span><br clear="both">24/10
                                                       </a>
                                                   </div>
                                               </div>
                                               <!-- COLUNA -->


                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Pagode</span><br clear="both">27/10
                                                       </a>
                                                    </div>
                                                </div>
                                               <!-- COLUNA -->
                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Lual</span><br clear="both">30/10
                                                       </a>
                                                    </div>
                                               </div>
                                               <!-- COLUNA -->
                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Aulão Funcional</span><br clear="both">31/10
                                                       </a>
                                                    </div>
                                               </div>
                                               <!-- COLUNA -->


                                           </div>
                                       </div>
                                       <!-- COLUNA / MÊS -->



                                       <!-- COLUNA / MÊS -->
                                       <div class="item">
                                           <h3>JANEIRO/ 2019</h3>
                                           
                                           <div class="row">

                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Pagode</span><br clear="both">02/10
                                                       </a>
                                                    </div>
                                               </div>
                                               <!-- COLUNA -->
                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Lual</span><br clear="both">03/10
                                                       </a>
                                                   </div>
                                               </div>
                                               <!-- COLUNA -->
                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Aulão Funcional</span><br clear="both">09/10
                                                       </a>
                                                    </div>
                                               </div>
                                               <!-- COLUNA -->



                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Pagode</span><br clear="both">10/10
                                                       </a>
                                                   </div>
                                               </div>
                                               <!-- COLUNA -->
                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Lual</span><br clear="both">13/10
                                                       </a>
                                                   </div>
                                               </div>
                                               <!-- COLUNA -->
                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Aulão Funcional</span><br clear="both">16/10
                                                       </a>
                                                   </div>
                                               </div>
                                               <!-- COLUNA -->


                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Pagode</span><br clear="both">17/10
                                                       </a>
                                                   </div>
                                               </div>
                                               <!-- COLUNA -->
                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Lual</span><br clear="both">23/10
                                                       </a>
                                                   </div>
                                               </div>
                                               <!-- COLUNA -->
                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Aulão Funcional</span><br clear="both">24/10
                                                       </a>
                                                   </div>
                                               </div>
                                               <!-- COLUNA -->


                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Pagode</span><br clear="both">27/10
                                                       </a>
                                                    </div>
                                                </div>
                                               <!-- COLUNA -->
                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Lual</span><br clear="both">30/10
                                                       </a>
                                                    </div>
                                               </div>
                                               <!-- COLUNA -->
                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Aulão Funcional</span><br clear="both">31/10
                                                       </a>
                                                    </div>
                                               </div>
                                               <!-- COLUNA -->


                                           </div>
                                       </div>
                                       <!-- COLUNA / MÊS -->





                                       <!-- COLUNA / MÊS -->
                                       <div class="item">
                                           <h3>FEVEREIRO/ 2019</h3>
                                           
                                           <div class="row">

                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Pagode</span><br clear="both">02/10
                                                       </a>
                                                    </div>
                                               </div>
                                               <!-- COLUNA -->
                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Lual</span><br clear="both">03/10
                                                       </a>
                                                   </div>
                                               </div>
                                               <!-- COLUNA -->
                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Aulão Funcional</span><br clear="both">09/10
                                                       </a>
                                                    </div>
                                               </div>
                                               <!-- COLUNA -->



                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Pagode</span><br clear="both">10/10
                                                       </a>
                                                   </div>
                                               </div>
                                               <!-- COLUNA -->
                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Lual</span><br clear="both">13/10
                                                       </a>
                                                   </div>
                                               </div>
                                               <!-- COLUNA -->
                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Aulão Funcional</span><br clear="both">16/10
                                                       </a>
                                                   </div>
                                               </div>
                                               <!-- COLUNA -->


                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Pagode</span><br clear="both">17/10
                                                       </a>
                                                   </div>
                                               </div>
                                               <!-- COLUNA -->
                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Lual</span><br clear="both">23/10
                                                       </a>
                                                   </div>
                                               </div>
                                               <!-- COLUNA -->
                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Aulão Funcional</span><br clear="both">24/10
                                                       </a>
                                                   </div>
                                               </div>
                                               <!-- COLUNA -->


                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Pagode</span><br clear="both">27/10
                                                       </a>
                                                    </div>
                                                </div>
                                               <!-- COLUNA -->
                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Lual</span><br clear="both">30/10
                                                       </a>
                                                    </div>
                                               </div>
                                               <!-- COLUNA -->
                                               <!-- COLUNA -->
                                               <div class="col-4">
                                                   <div class="coluna">
                                                       <a href="javascript:void(0)" onclick="detalheEvento(1);" title="Clique para ver o detalhe do evento">
                                                            <span>Aulão Funcional</span><br clear="both">31/10
                                                       </a>
                                                    </div>
                                               </div>
                                               <!-- COLUNA -->


                                           </div>
                                       </div>
                                       <!-- COLUNA / MÊS -->
                                     
                                   

                                 </div>
                                 <div class="container" style="text-align: right;padding-top: 14px;width: 100%;max-width: 100%;position: relative;z-index: 999;">
                                       <ul id="carousel-custom-dots" class="owl-dots"> 
                                          
                                          <li class="owl-dot">&nbsp;</li>
                                          <li class="owl-dot">&nbsp;</li>
                                          <li class="owl-dot">&nbsp;</li>
                                          
                                        </ul>                 
                                  </div>
                                 <!-- OWL AULAS REGULARES SEMANA -->
                                 

                                 

                    </div>
                  </div>
                  <!-- CONTEÚDO -->
                  

                  
              
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">

              
               
            </div>
            <!-- PAGE CONTENT FIM -->
    
</jsv-content>