<jsv-header>
	<button-header-left></button-header-left>
       Início
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content class="inicio">
   
            <!-- PAGE CONTENT FIM -->
            <div class="page-content">

                 


                  <!-- CONTEÚDO -->
                  <div class="corpo-comum">
                    <div class="container conteudo areas-login-cadastro">
                      
                         <div class="logo">
                           <img src="images/logo.png" alt="Orra Meu">
                         </div>

                         <div class="form-group">
                            <input type="text" id="loginUsuario" class="form-control" placeholder="Usuário" autocomplete="new-text">
                         </div>

                         <div class="form-group has-feedback">
                            <input type="password" id="loginSenha" class="form-control" placeholder="Senha" autocomplete="new-password">
                            <i class="fa fa-eye" onclick="exibirSenha();"></i>
                         </div>

                         <div class="form-group" style="padding-top: 20px;padding-bottom: 20px;">
                           <button type="submit" class="btn btn-primary" id="procLogin" onclick="procLogin();">Entrar</button>
                         </div>

                         <div class="form-group">
                           <button type="submit" class="btn btn-default" onclick="redirecionarCadastro();">Sou novo por aqui</button>
                         </div>

                         <p class="text-center esqueci-senha" style="padding-top: 15px;">
                           <a href="javascript:void(0)" onclick="redirecionarEsqueciSenha();" title="Esqueci minha senha">Esqueci minha senha</a>
                         </p>

                    </div>
                  </div>
                  <!-- CONTEÚDO -->
                  

                  
              
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">

              
               
            </div>
            <!-- PAGE CONTENT FIM -->
    
</jsv-content>