<!-- COLUNA / CAIXA -->
<div class="item">
    <div class="caixa caixa-grande">
        <div class="header-caixa">
           <h4>16 de Junho<br> (Quarta)</h4>
        </div>
        <div class="caixa-itens-aula">
           <div class="card">
             <b>21:00</b><br clear="both">
             Futvôlei| Prof. Barbosinha
             <p>
               <a href="javascript:void(0)" class="btn btn-default">
                 Remarcar
               </a><a href="javascript:void(0)" class="btn btn-primary">
                 Check-in
               </a>
             </p>
           </div>
           <div class="card">
             <b>22:00</b><br clear="both">
             Vôlei| Prof. Barbosinha
             <p>
               <a href="javascript:void(0)" class="btn btn-default">
                 Remarcar
               </a><a href="javascript:void(0)" class="btn btn-primary">
                 Check-in
               </a>
             </p>
           </div>
        </div>
    </div>
  </div>
  <!-- COLUNA / CAIXA -->


  <!-- COLUNA / CAIXA -->
  <div class="item">
    <div class="caixa caixa-grande">
        <div class="header-caixa">
           <h4>17 de Junho<br> (Quinta)</h4>
        </div>
        <div class="caixa-itens-aula">
           <div class="card">
             <b>21:00</b><br clear="both">
             Futvôlei| Prof. Barbosinha<br>
             <small>Reposição</small>
           </div>
           <div class="card">
             <b>22:00</b><br clear="both">
             Vôlei| Prof. Barbosinha
             <p>
               <a href="javascript:void(0)" class="btn btn-default">
                 Remarcar
               </a><a href="javascript:void(0)" class="btn btn-primary">
                 Check-in
               </a>
             </p>
           </div>
        </div>
    </div>
  </div>
  <!-- COLUNA / CAIXA -->


  <!-- COLUNA / CAIXA -->
  <div class="item">
    <div class="caixa caixa-grande">
        <div class="header-caixa">
           <h4>18 de Junho<br> (Sexta)</h4>
        </div>
        <div class="caixa-itens-aula">
           <div class="card">
             <b>19:00</b><br clear="both">
             Futebol| Prof. Barbosinha
             <p>
               <a href="javascript:void(0)" class="btn btn-default">
                 Remarcar
               </a><a href="javascript:void(0)" class="btn btn-primary">
                 Check-in
               </a>
             </p>
           </div>
           <div class="card">
             <b>20:00</b><br clear="both">
             Futebol| Prof. Barbosinha
             <p>
               <a href="javascript:void(0)" class="btn btn-default">
                 Remarcar
               </a><a href="javascript:void(0)" class="btn btn-primary">
                 Check-in
               </a>
             </p>
           </div>
           <div class="card">
             <b>21:00</b><br clear="both">
             Futvôlei| Prof. Barbosinha
             <p>
               <a href="javascript:void(0)" class="btn btn-default">
                 Remarcar
               </a><a href="javascript:void(0)" class="btn btn-primary">
                 Check-in
               </a>
             </p>
           </div>
           <div class="card">
             <b>22:00</b><br clear="both">
             Vôlei| Prof. Barbosinha
             <p>
               <a href="javascript:void(0)" class="btn btn-default">
                 Remarcar
               </a><a href="javascript:void(0)" class="btn btn-primary">
                 Check-in
               </a>
             </p>
           </div>
        </div>
    </div>
  </div>
  <!-- COLUNA / CAIXA -->


  <!-- COLUNA / CAIXA -->
  <div class="item">
    <div class="caixa caixa-grande">
        <div class="header-caixa">
           <h4>19 de Junho<br> (Sábado)</h4>
        </div>
        <div class="caixa-itens-aula">
           <div class="card">
             <b>21:00</b><br clear="both">
             Futvôlei| Prof. Barbosinha<br>
             <small>Reposição</small>
           </div>
        </div>
    </div>
  </div>
  <!-- COLUNA / CAIXA -->