<jsv-header>
    Escolher Capitulo
</jsv-header>
<jsv-content>

	<div class="conteudos-modais">

	    <h1 class="paddingFull10">Escolher Capítulo</h1>
	    
	    <div class="form-group">
	      <select class="form-control" id="selecaoCapitulo">   	
	      </select>	
	    </div>

	    <div class="form-group">
	    	<button class="btn btn-default" onclick="irParaCapEspecifico()">Ir para o capítulo</button>
	    </div>
	    
	    <p>
	       <a href="javascript:void(0)" title="Cancelar" onclick="$JSView.closeModal('modalSelecaoCapitulo'); reabrirLivro();">
	       	cancelar
	       </a>
	    </p>

    </div>
    
</jsv-content>