<jsv-header>
	<button-header-left></button-header-left>
       Loja (Detalhe de Produto)
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content class="inicio">
   
            <!-- PAGE CONTENT FIM -->
            <div class="page-content">
                 
                  <!-- HEADER -->
                  <header>
                    <div class="container">
                      <div class="row">
                        <div class="col-3 coluna-um">
                           <a href="javascript:void(0)" title="Voltar para a página de login" onclick="loja();">
                             <i class="fa fa-angle-left"></i>
                           </a>
                        </div>
                        <div class="col-6 coluna-dois">
                          <a href="javascript:void(0)" title="Orra Meu - Sua praia na Mooca" style="line-height: 18px;display: block;padding-top: 2px;">
                           Loja<br>Orra Mêu
                          </a>
                        </div>
                        <div class="col-3 coluna-tres" onclick="notificacoes()">
                           <div class="profile-picture" style="background: url('images/perfil.png') #f4f4f4 no-repeat;background-size: cover;background-position: center center;">
                              &nbsp;
                              <span class="numeroNotificacoes">0</span>
                           </div>
                        </div>
                      </div>
                    </div>
                  </header>
                  <!-- HEADER -->


                  <!-- CONTEÚDO -->
                  <div class="corpo-comum">
                    <div class="conteudo areas-login-cadastro area-contrato area-loja">

                          <!-- LOJA -->
                          <div class="loja">
                              
                                 <!-- OWL GALERIA IMAGENS PRODUTO -->
                                 <div id="galeriaImagensProduto" class="owl-carousel">
                                 </div>

                                 <div class="container" style="text-align: right;padding-top: 14px;width: 100%;max-width: 100%;position: relative;z-index: 999;">
                                       <ul id="carousel-custom-dots" class="dots-galeria-produto owl-dots">
                                       </ul>                 
                                  </div>
                                 <!-- OWL GALERIA IMAGENS PRODUTO -->

                                 <div class="metas-produto">
                                 </div>

                                 <!--
                                    <div class="row">
                                          <div class="col-12 fields-detalhe-produto">
                                            <div class="form-group">
                                              <label>COR:</label>
                                              <select id="variacaoProduto1" class="form-control">
                                                <option value="">Selecione uma opção</option>
                                                <option value="Branco">Branco</option>
                                                <option value="Amarelo">Amarelo</option>
                                                <option value="Rosa">Rosa</option>
                                              </select>
                                            </div>
                                          </div>
                                          <div class="col-12 fields-detalhe-produto">
                                            <div class="form-group">
                                              <label>TAMANHO:</label>
                                              <select id="variacaoProduto2" class="form-control">
                                                <option value="">Selecione uma opção</option>
                                                <option value="PP">PP</option>
                                                <option value="M">M</option>
                                                <option value="G">G</option>
                                                <option value="GG">GG</option>
                                              </select>
                                            </div>
                                          </div>
                                    </div>
                                    -->


                                 <br clear="both">
                                 <br clear="both">
                                 <br clear="both">
                                 <br clear="both">
                                 <br clear="both">
                                 <br clear="both">
                                 <br clear="both">
                              

                          </div>
                          <!-- LOJA -->

                          
                    </div>
                  </div>
                  <!-- CONTEÚDO -->
                  
              
              <!-- ADICIONAR AO CARRINHO -->
              <div class="adicionar-ao-carrinho">
                <a href="javascript:void(0)" onclick="addCarrinho();" id="addCarrinhoProduto" data-id="" title="Adicionar ao carrinho">
                    Adicionar ao Carrinho <img src="images/adiciomar-ao-carrinho.png" alt="Adicionar ao carrinho">
                </a>
              </div>
              <!-- ADICIONAR AO CARRINHO -->
              
               
            </div>
            <!-- PAGE CONTENT FIM -->
    
</jsv-content>