<jsv-header>
	<button-header-left></button-header-left>
       Loja
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content class="inicio">
   
            <!-- PAGE CONTENT FIM -->
            <div class="page-content">
                 
                  <!-- HEADER -->
                  <header>
                    <div class="container">
                      <div class="row">
                        <div class="col-3 coluna-um">
                           <a href="javascript:void(0)" title="Voltar para a página de login" onclick="voltarAoInicio();">
                             <i class="fa fa-angle-left"></i>
                           </a>
                        </div>
                        <div class="col-6 coluna-dois">
                          <a href="javascript:void(0)" title="Orra Meu - Sua praia na Mooca" style="line-height: 18px;display: block;padding-top: 2px;">
                           Loja<br>Orra Mêu
                          </a>
                        </div>
                        <div class="col-3 coluna-tres" onclick="notificacoes()">
                           <div class="profile-picture" style="background: url('images/perfil.png') #f4f4f4 no-repeat;background-size: cover;background-position: center center;">
                              &nbsp;
                              <span class="numeroNotificacoes">0</span>
                           </div>
                        </div>
                      </div>
                    </div>
                  </header>
                  <!-- HEADER -->


                  <!-- CONTEÚDO -->
                  <div class="corpo-comum">
                    <div class="conteudo areas-login-cadastro area-contrato area-loja">                                               
                                                             
                          

                          <!-- FILDS LOJA -->
                          <div class="row fields-loja">
                             <div class="col-9">
                                <input type="text" id="buscaProdutos" class="form-control" placeholder="Pesquisar" onkeyup="filtroProdutos();">
                             </div>
                             <div class="col-3">
                                 <a href="javascript:void(0)" id="menuCarrinho" title="Carrinho" onclick="carrinho();">
                                    <img src="images/carrinho.png" alt="Carrinho">
                                    <span>0</span>
                                 </a>
                             </div>
                          </div>
                          <!-- FILDS LOJA -->

                          <!-- LOJA -->
                          <div class="loja">
                              
                              <div class="row lista-produtos" id="listagemDeProdutos">
                                
                                 <p style="text-align: center;display: block;width: 100%;font-size: 12px;padding-top: 30px;padding-bottom: 60px;" id="carregandoProdutos">Carregando produtos</p>

                                

                                 <div class="col-12 produto" id="buscaVazia" style="padding-left: 5px;padding-right: 5px;display: none;">
                                    <p style="text-align: center;padding-top: 30px;font-size: 14px;">Nenhum resultado encontrado</p>
                                 </div>

                              </div>

                          </div>
                          <!-- LOJA -->

                                
                                 

                                 

                    </div>
                  </div>
                  <!-- CONTEÚDO -->
                  

                  
              
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">

              
               
            </div>
            <!-- PAGE CONTENT FIM -->
    
</jsv-content>