<jsv-header>
	<button-header-left></button-header-left>
       Loja > Confirmação de reserva
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content class="inicio">
   
            <!-- PAGE CONTENT FIM -->
            <div class="page-content">
                 
                  <!-- HEADER -->
                  <header>
                    <div class="container">
                      <div class="row">
                        <div class="col-3 coluna-um">
                           <a href="javascript:void(0)" title="Voltar para a página de login" onclick="loja();">
                             <i class="fa fa-angle-left"></i>
                           </a>
                        </div>
                        <div class="col-6 coluna-dois">
                          <a href="javascript:void(0)" title="Orra Meu - Sua praia na Mooca" style="line-height: 18px;display: block;padding-top: 2px;">
                           Confirmação<br>de reserva
                          </a>
                        </div>
                        <div class="col-3 coluna-tres" onclick="notificacoes()">
                           <div class="profile-picture" style="background: url('images/perfil.png') #f4f4f4 no-repeat;background-size: cover;background-position: center center;">
                              &nbsp;
                              <span class="numeroNotificacoes">0</span>
                           </div>
                        </div>
                      </div>
                    </div>
                  </header>
                  <!-- HEADER -->


                  <!-- CONTEÚDO -->
                  <div class="corpo-comum">
                    <div class="conteudo areas-login-cadastro area-contrato area-loja">                                               
                                                             
                          

                          <!-- LOJA -->
                          <div class="loja confirmacao-reserva">
                              
                               <h1>
                                 <i class="fa fa-check-circle"></i> <br clear="both">
                                 Reserva realizada com sucesso!
                                 <small></small>
                               </h1>
                               <p>
                                 Agora é só comparecer na administração da Orra Mêu, para realizar o pagamento e retirar os seus produtos.
                               </p>
                               <p>
                                 <a href="javascript:void(0)" title="Voltar ao início" class="btn btn-primary" onclick="voltarAoInicio();">
                                    Voltar ao início
                                 </a>
                               </p>

                          </div>
                          <!-- LOJA -->

                                
                                 

                                 

                    </div>
                  </div>
                  <!-- CONTEÚDO -->
              
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">

                
             
               
            </div>
            <!-- PAGE CONTENT FIM -->
    
</jsv-content>