<jsv-header>
	<button-header-left></button-header-left>
       Loja > Carrinho
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content class="inicio">
   
            <!-- PAGE CONTENT FIM -->
            <div class="page-content">
                 
                  <!-- HEADER -->
                  <header>
                    <div class="container">
                      <div class="row">
                        <div class="col-3 coluna-um">
                           <a href="javascript:void(0)" title="Voltar para a página de login" onclick="loja();">
                             <i class="fa fa-angle-left"></i>
                           </a>
                        </div>
                        <div class="col-6 coluna-dois">
                          <a href="javascript:void(0)" title="Orra Meu - Sua praia na Mooca" style="line-height: 18px;display: block;padding-top: 2px;">
                           Seu<br>Carrinho
                          </a>
                        </div>
                        <div class="col-3 coluna-tres" onclick="notificacoes()">
                           <div class="profile-picture" style="background: url('images/perfil.png') #f4f4f4 no-repeat;background-size: cover;background-position: center center;">
                              &nbsp;
                              <span class="numeroNotificacoes">0</span>
                           </div>
                        </div>
                      </div>
                    </div>
                  </header>
                  <!-- HEADER -->


                  <!-- CONTEÚDO -->
                  <div class="corpo-comum">
                    <div class="conteudo areas-login-cadastro area-contrato area-loja">                                               
                                                             
                          

                          <!-- LOJA -->
                          <div class="loja">
                              
                              <div class="row lista-produtos" id="listagemDeProdutosCarrinho">
                                
                                 <!-- PRODUTOS CARRINHO -->
                                 <div class="col-12 carrinho"></div>
                                 <!-- PRODUTOS CARRINHO -->

                                 <!-- RESUMO COMPRA -->
                                 <div class="resumo-compra">

                                   <!-- LINHA 1 -->
                                   <div class="row linha-1">
                                     <div class="col-6 coluna-um">
                                       Subtotal
                                     </div>
                                     <div class="col-6 coluna-dois">
                                       R$ <span id="valorSubtotal"></span>
                                     </div>
                                   </div>
                                   <!-- LINHA 1 -->

                                   <!-- LINHA 2 -->
                                   <div class="row linha-2">
                                     <div class="col-12 coluna-um">
                                       Pagto. e retirada na administraçao Orra Mêu
                                     </div>
                                     <!--<div class="col-6 coluna-dois">
                                       <small>(Grátis)</small>
                                     </div>-->
                                   </div>
                                   <!-- LINHA 2 -->

                                 </div>
                                 <!-- RESUMO COMPRA -->

                                 <h3 id="totalFinalCarrinho">Total <span>R$ <span id="valorTotal"></span></span></h3>

                                 
                              </div>

                          </div>
                          <!-- LOJA -->

                                
                                 

                                 

                    </div>
                  </div>
                  <!-- CONTEÚDO -->
              
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">

                  <!-- IR PARA O PAGAMENTO -->
                  <div class="adicionar-ao-carrinho inner-carrinho">
                    <a href="javascript:void(0)" title="Confirmar reserva" onclick="finalizarReserva(); $(this).html('processando...')">
                        Reservar <img src="images/finalizar-compra.png" alt="Finalizar compra">
                    </a>
                  </div>
                  <!-- IR PARA O PAGAMENTO -->
             
               
            </div>
            <!-- PAGE CONTENT FIM -->
    
</jsv-content>