<jsv-header>
	<button-header-left></button-header-left>
       Dashboard / Início
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content class="inicio">
   
            <!-- PAGE CONTENT FIM -->
            <div class="page-content ">

                 <!-- HEADER -->
                  <header>
                    <div class="container">
                      
                      <div class="row">
                        
                        <div class="col-3 coluna-um">
                           <a href="javascript:void(0)" title="Ver o menu" onclick="openMenu();">
                             <i class="fa fa-bars"></i>
                           </a>
                        </div>


                        <div class="col-6 coluna-dois" style="opacity: 0;">
                          
                          &nbsp;

                        </div>

                        <div class="col-3 coluna-tres imagem-de-perfil-header" onclick="notificacoes()">
                           <div class="profile-picture" style="background: url('images/perfil.png') #f4f4f4 no-repeat;background-size: cover;background-position: center center;">
                              &nbsp;
                              <span class="numeroNotificacoes">0</span>
                           </div>                           
                        </div>

                      </div>

                    </div>
                  </header>
                  <!-- HEADER -->


                  <!-- CONTEÚDO -->
                  <div class="corpo-comum">
                    <div class="container conteudo inicio">
                      
                         <!-- LINHA -->
                         <div class="row">
                           <div class="col-12">
                              <h1>Eaê, <span id="nomeUsuario">...</span>!</h1>
                           </div>
                         </div>
                         <!-- LINHA -->                         

                         <!-- LINHA -->
                         <div class="row">
                           
                           <!-- COLUNA / CAIXA -->
                           <div class="col-6">
                             <div class="caixa caixa-um">
                               <div class="header-caixa">
                                 <h4>Modalidades</h4>
                               </div>
                               <nav>
                                 <ul>
                                   <li><a href="#" title="Futvôlei">Futvôlei</a></li>
                                   <li><a href="#" title="Vôlei">Vôlei</a></li>
                                   <li><a href="#" title="Funcional">Funcional</a></li>
                                 </ul>
                               </nav>
                             </div>
                           </div>
                           <!-- COLUNA / CAIXA -->

                           <!-- COLUNA / CAIXA -->
                           <div class="col-6">
                             <div class="caixa caixa-dois">
                               <div class="header-caixa">
                                 <h4>Aulas para Repor</h4>
                               </div>
                               <h3>0</h3>
                               <a href="#" title="Ver Agenda" class="btn btn-default">Ver Agenda</a>
                             </div>
                           </div>
                           <!-- COLUNA / CAIXA -->

                         </div>
                         <!-- LINHA -->


                         <!-- LINHA -->
                         <div class="row">
                           
                           <!-- COLUNA / CAIXA -->
                           <div class="col-6">
                             <div class="caixa caixa-tres alertas-vermelhos">
                               <div class="header-caixa">
                                 <h4>Modalidades / MAR</h4>
                               </div>
                               <h3>30/03</h3>
                               <a href="#" title="alerta">
                                  <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
                               </a>
                             </div>
                           </div>
                           <!-- COLUNA / CAIXA -->

                           <!-- COLUNA / CAIXA -->
                           <div class="col-6">
                             <div class="caixa caixa-quatro">
                               <div class="header-caixa">
                                 <h4>Modalidades / ABR</h4>
                               </div>
                               <h3>30/04</h3>
                               <a href="#" title="Pagamentos" class="btn btn-default">Pagamentos</a>
                             </div>
                           </div>
                           <!-- COLUNA / CAIXA -->

                         </div>
                         <!-- LINHA -->


                         <!-- LINHA -->
                         <div class="row">
                           <div class="col-12">
                             <div class="caixa caixa-grande">
                                 <div class="header-caixa">
                                    <h4>Próxima Aula: Hoje - 18:00<br clear="both">Futevôlei - Prof. Barbosinha</h4>
                                 </div>
                                 <div class="row">
                                    <div class="col-6">
                                      <a href="#" title="Remarcar" class="btn btn-default">
                                        Remarcar
                                      </a>
                                    </div>
                                    <div class="col-6">
                                      <a href="#" title="Check in" class="btn btn-primary">
                                        Check in
                                      </a>
                                    </div>
                                 </div>
                             </div>
                           </div>
                         </div>
                         <!-- LINHA -->

                         <!-- LINHA -->
                         <div class="row">
                           <div class="col-12 marcas-parceiros text-center">
                                 <p>
                                   Parceiros:
                                 </p>
                                 <p id="parceirosOrraMeu">
                                 </p>
                           </div>
                         </div>
                         <!-- LINHA -->


                    </div>
                  </div>
                  <!-- CONTEÚDO -->
                  

                  
              
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">

              
               
            </div>
            <!-- PAGE CONTENT FIM -->
    
</jsv-content>