<jsv-header>
	<button-header-left></button-header-left>
       Dashboard / Início
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content class="inicio">
   
            <!-- PAGE CONTENT FIM -->
            <div class="page-content ">

                 <!-- HEADER -->
                  <header>
                    <div class="container">
                      
                      <div class="row">
                        
                        <div class="col-3 coluna-um">
                           <a href="javascript:void(0)" title="Ver o menu" onclick="openMenu();">
                             <i class="fa fa-bars"></i>
                           </a>
                        </div>


                        <div class="col-6 coluna-dois" style="opacity: 0;">
                          
                          &nbsp;

                        </div>

                        <div class="col-3 coluna-tres imagem-de-perfil-header" onclick="notificacoes()">
                           <div class="profile-picture" style="background: url('images/perfil.png') #f4f4f4 no-repeat;background-size: cover;background-position: center center;">
                              &nbsp;
                              <span class="numeroNotificacoes">0</span>
                           </div>                           
                        </div>

                      </div>

                    </div>
                  </header>
                  <!-- HEADER -->


                  <!-- CONTEÚDO -->
                  <div class="corpo-comum">
                    <div class="container conteudo inicio">
                      
                         <!-- LINHA -->
                         <div class="row">
                           <div class="col-12">
                              <h1>Eaê, <span id="nomeUsuario">...</span>!</h1>
                           </div>
                         </div>
                         <!-- LINHA -->                         

                       

                         <!-- LINHA -->
                         <div class="row">
                           <div class="col-12">
                             <div class="caixa caixa-grande">
                                 <div class="header-caixa">
                                    <h4 style="text-align: left;">Em breve suas aulas vão estar disponíveis nessa tela!</h4>
                                 </div>
                                 <div class="row">
                                    <div class="col-12">
                                      <a href="#" title="Remarcar" id="btnContrato" target="_system" class="btn btn-default">
                                        Acessar seu contrato
                                      </a>
                                    </div>
                                    
                                 </div>
                             </div>
                           </div>
                         </div>
                         <!-- LINHA -->

                         <!-- LINHA -->
                         <div class="row">
                           <div class="col-12 marcas-parceiros text-center">
                                 <p>
                                   Parceiros:
                                 </p>
                                 <p id="parceirosOrraMeu">
                                 </p>
                           </div>
                         </div>
                         <!-- LINHA -->


                    </div>
                  </div>
                  <!-- CONTEÚDO -->
                  

                  
              
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">

              
               
            </div>
            <!-- PAGE CONTENT FIM -->
    
</jsv-content>