<jsv-header>
	<button-header-left></button-header-left>
       Cadastro (Edição)
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content class="inicio">
   
            <!-- PAGE CONTENT FIM -->
            <div class="page-content">
                 
                  <!-- HEADER -->
                  <header>
                    <div class="container">
                      
                      <div class="row">
                        
                        <div class="col-3 coluna-um">
                           <a href="javascript:void(0)" title="Voltar para a página de login" onclick="voltarAoInicio();">
                             <i class="fa fa-angle-left"></i>
                           </a>
                        </div>

                        <div class="col-6 coluna-dois">
                          <a href="javascript:void(0)" title="Orra Meu - Sua praia na Mooca" style="line-height: 18px;display: block;padding-top: 2px;">
                           Edição de Cadastro
                          </a>
                        </div>

                        <div class="col-3 coluna-tres" onclick="notificacoes()">
                           <div class="profile-picture" style="background: url('images/perfil.png') #f4f4f4 no-repeat;background-size: cover;background-position: center center;">
                              &nbsp;
                              <span class="numeroNotificacoes">0</span>
                           </div>
                           
                        </div>

                      </div>

                    </div>
                  </header>
                  <!-- HEADER -->


                  <!-- CONTEÚDO -->
                  <div class="corpo-comum ajuste-margem-header">
                    <div class="container conteudo areas-login-cadastro area-cadastro">      

                         <div class="foto-perfil-inner-corpo" style="background: url('images/perfil.png') #f2f2f2 no-repeat;background-size: cover;background-position: center center;">
                             <a href="javascript:void(0)" title="Atualizar foto de perfil" onclick="atualizarFotoPerfil();">
                                <i class="fa fa-pencil"></i>
                             </a>
                         </div>                                         

                         <div class="form-group">
                          <label>Usuário</label>
                            <input type="text" id="cadastroEditarUsuario" class="form-control form-control-bg-2" placeholder="Usuário / Apelido" autocomplete="new-text" disabled>
                         </div>

                         <div class="form-group">
                          <label>E-mail</label>
                            <input type="text" id="cadastroEditarEmail" class="form-control form-control-bg-2" placeholder="E-mail" autocomplete="new-text" disabled>
                         </div>

                          <div class="form-group">
                            <label>Nome completo</label>
                            <input type="text" id="cadastroEditarNome" class="form-control" placeholder="Nome e Sobrenome" autocomplete="new-text">
                         </div>

                          <div class="form-group">
                            <label>Celular</label>
                            <input type="text" id="cadastroEditarCelular" class="form-control" placeholder="Celular" autocomplete="new-text">
                         </div>

                          <div class="form-group">
                            <label>Instagram</label>
                            <input type="text" id="cadastroEditarInstagram" class="form-control" placeholder="Instagram" autocomplete="new-text">
                         </div>

                          <div class="form-group">
                            <label>Sexo</label>
                            <select name="genero" id="cadastroEditarSexo" class="form-control">
                              <option value="">Sexo</option>
                              <option value="Masculino">Masculino</option>
                              <option value="Feminino">Feminino</option>
                            </select> 
                         </div>

                           <div class="form-group">
                            <label>Nascimento</label>
                              <input type="text" id="cadastroEditarNascimento" class="form-control" placeholder="Data Nascimento" autocomplete="new-text">
                           </div>

                           <div class="form-group">
                              <label>Senha</label>
                              <input type="password" id="cadastroEditarSenha" class="form-control" placeholder="Senha" autocomplete="new-password">
                           </div>

                           <div class="form-group">
                              <label>Confirmar senha</label>
                              <input type="password" id="cadastroEditarSenhaConfirmar" class="form-control" placeholder="Confirme a Senha" autocomplete="new-password">
                           </div>


                          

                         <div class="form-group" style="padding-top: 20px;padding-bottom: 20px;">
                           <button type="submit" class="btn btn-primary" id="procEditarCadastro" onclick="procEditarCadastro();">Salvar</button>
                         </div>

                         

                    </div>
                  </div>
                  <!-- CONTEÚDO -->
                  

                  
              
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">

              
               
            </div>
            <!-- PAGE CONTENT FIM -->
    
</jsv-content>